<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<header class="app-header navbar" th:fragment="header">
	      <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <a class="navbar-brand" href="#">
	        <img class="navbar-brand-full" th:src="@{/static/img/brand/logo.svg}" width="89" height="25" alt="CoreUI Logo">
	        <img class="navbar-brand-minimized" th:src="@{/static/img/brand/sygnet.svg}" width="30" height="30" alt="CoreUI Logo">
	      </a>
	      <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	     	<ul class="nav navbar-nav d-md-down-none">
	        <li class="nav-item px-3">
	          <a class="nav-link" th:href="@{/app/home}">主页</a>
	        </li>
	        <!-- 
	        <li class="nav-item px-3">
	          <a class="nav-link" href="#">Users</a>
	        </li>
	        <li class="nav-item px-3">
	          <a class="nav-link" href="#">Settings</a>
	        </li>
	        -->
	      </ul> 
	      <ul class="nav navbar-nav ml-auto">
	        <li class="nav-item d-md-down-none">
	          <a class="nav-link" href="#">
	            <i class="icon-bell"></i>
	            <span class="badge badge-pill badge-danger">5</span>
	          </a>
	        </li>
			<!--    
			<li class="nav-item d-md-down-none">
	          <a class="nav-link" href="#">
	            <i class="icon-list"></i>
	          </a>
	        </li> -->
	        <li class="nav-item d-md-down-none">
	          <a class="nav-link" href="#">
	            <i class="icon-location-pin"></i>
	          </a>
	        </li>
	        <li class="nav-item dropdown">
	          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	            <img class="img-avatar" th:src="@{/static/img/avatars/6.jpg}" alt="admin@bootstrapmaster.com">
	          </a>
	          <div class="dropdown-menu dropdown-menu-right">
	            <div class="dropdown-header text-center">
	              <strong th:text="#{mirana.account.info}"></strong>
	            </div>
	            <a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i><span th:text="#{mirana.message}"></span><span class="badge badge-success">42</span>
	            </a>
	            <a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> <span th:text="#{mirana.task}"></span><span class="badge badge-danger">42</span></a>
	            <a class="dropdown-item" href="#"><i class="fa fa-shield"></i><span th:text="#{mirana.modify.password}"></span></a>
	            <a class="dropdown-item" th:href="@{/login_out}"><i class="fa fa-lock"></i><span th:text="#{mirana.logout}"></span></a>
	          </div>
	        </li>
	      </ul>
	 	<!-- 
	 	<button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
	        <span class="navbar-toggler-icon"></span>
	      </button>
	      <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
	        <span class="navbar-toggler-icon"></span>
	      </button> -->
	    </header>
	</body>
</html>