<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/normal :: layout(~{::section}, ~{::script})}">
	<body>
		<section class="card">
			<div class="card-header">
				<i class="icon-drop"></i> <span>风险测试中</span>
			</div>
			<div class="card-body">
				测评项目
				<form th:action="@{/app/client/exam/end}" method="POST">
					<button class="btn btn-primary" type="submit">结束评测</button>
					<input type="hidden" name="exId" th:value="${examState.id}">
				</form>
			</div>
		</section>
		<script type="text/javascript">
		</script>
	</body>
</html>