<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title}, ~{::section})}">
	<head>
	    <title th:text="#{mirana.login.hint}"></title>
	</head>
	<body>
		<section class="app flex-row align-items-center">
			<div class="container">
		      <div class="row justify-content-center">
		        <div class="col-md-6">
        	        <div class="jumbotron">
					  <h1 class="display-4">403</h1>
					  <p class="lead" th:text="#{mirana.403.hint}"></p>
					  <hr class="my-4">
					  <p th:text="#{mirana.403.desc}"></p>
					  <a class="btn btn-primary btn-lg" th:href="@{/app/home}" role="button" th:text="#{mirana.home}"></a>
					</div>
		        </div>
		      </div>
		    </div>
			
		</section>
	</body>
</html>