<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/list :: layout(~{::section}, ~{::script})}">
	<body>
		<section>
			<div class="row">
				<div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i>接收用户订单</div>
                  <div class="card-body">
                    <table class="table table-responsive-sm" id="userOrder">
                      <thead>
                        <tr>
                          <th>订单名称</th>
                          <th>申请日期</th>
                          <th>申请人</th>
                          <th>状态</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="item: ${orders}">
                          <td th:text="${item.name}"></td>
                          <td th:text="${item.createTime}"></td>
                          <td th:text="${item.clientName}"></td>
                          <td>
                            <button class="btn btn-sm btn-primary" th:alt="${item.id}">接受</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-6">
               <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i>审批用户订单</div>
                  <div class="card-body">
                    <table class="table table-responsive-sm" id="myOrder">
                      <thead>
                        <tr>
                          <th>订单名称</th>
                          <th>申请日期</th>
                          <th>申请人</th>
                          <th>操作</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="item: ${shenOrder}">
                          <td th:text="${item.name}"></td>
                          <td th:text="${item.createTime}"></td>
                          <td th:text="${item.clientName}"></td>
                          <td>
                            <button class="btn btn-sm btn-primary" th:alt="${item.id}">通过</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
	         </div>
	         
	         <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i>订单进度分析</div>
                  <div class="card-body">
	              </div>
	              </div>
	         </div>
	         
	         <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i>用户转换率分析</div>
                  	<div class="card-body">
	              	</div>
	              </div>
	         </div>

			</div> 
		</section>
		<script type="text/javascript">
			$(document).ready(function() {
				$("#userOrder button.btn").on("click", function(event) {
					var id = $(this).attr("alt");
					var rootUrl = $("#rootUrl").attr("href"),
						url = rootUrl + "app/sale/risk/accept/" + id;
					$.post(url, function() {
						window.location.reload();
					})
				});
				
				$("#myOrder button.btn").on("click", function(event) {
					var id = $(this).attr("alt");
					var rootUrl = $("#rootUrl").attr("href"),
						url = rootUrl + "app/sale/risk/complete/" + id;
					$.post(url, function() {
						window.location.reload();
					})
				});
			});
		</script>
	</body>
</html>