<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/default :: layout(~{::section})}">
	<body>
		<section>
			<div class="row">
				<div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i>我的订单</div>
                  <div class="card-body">
                    <table class="table table-responsive-sm">
                      <thead>
                        <tr>
                          <th>订单名称</th>
                          <th>申请日期</th>
                          <th>办理人</th>
                          <th>状态</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="order: ${orders}">
                          <td th:text="${order.name}"></td>
                          <td th:text="${order.createTime}"></td>
                          <td th:text="${order.saleName}"></td>
                          <td th:switch="${order.state}">
							<span class="badge badge-success" th:case="100">已完成</span>
							<span class="badge badge-primary" th:case="*">办理中</span>
						  </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i>我的评测</div>
                  	<div class="card-body">
						<table class="table table-responsive-sm">
							<thead>
								<tr>
									<th>测评名称</th>
									<th>状态</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item: ${exams}">
									<td th:text="${item.name}"></td>
									<td th:switch="${item.state}">
										<span class="badge badge-warning" th:case="1">进行中</span>
										<span class="badge badge-success" th:case="2">已完成</span>
										<span class="badge badge-secondary" th:case="*">未开始</span>
									</td>
									<td th:switch="${item.state}">
										<a class="btn btn-warning btn-sm" th:case="1" th:href="@{/app/client/exam/doing/{id}(id=${item.sid})}">继续</a>
										<a class="btn btn-success btn-sm" th:case="2" th:href="@{/app/client/exam/done/{id}(id=${item.sid})}">查看报告</a>
										<a class="btn btn-primary btn-sm" th:case="*" th:href="@{/app/client/exam/start/{id}(id=${item.id})}">开始评测</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
	              </div>
	         </div>
	         
	         <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i>风险概要</div>
                  <div class="card-body">
	              </div>
	              </div>
	         </div>
	         
	         <div class="col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <i class="fa fa-align-justify"></i>安全资讯</div>
                  	<div class="card-body">
	              	</div>
	              </div>
	         </div>

			</div> 
		</section>
	</body>
</html>